<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <title>Short it!</title>
  <link rel="shortcut icon" type="image/jpg" href="../images/favico.png"/>
</head>
<body>
  <div class="container">
    <div class="title"><small>let's </small>SHORT IT!</div>

    <div class="center-wrapper" id="app">

      <div class="form" v-if="form" v-cloak>

          <div class="form-group">
            <img class="icon" height="18" width="18" src="../images/link_icon.png"/>
            <label for="">
              Enter long URL
            </label>
             <input type="text" name="url" id="url"  v-model="url" :class="{'red': errMsgUrl}"  @focus="focused_url = true, focused_alias = false" :class="{ 'focused_url': focused_url }">
             <small v-if="errMsgUrl" :class="{'text-danger': errMsgUrl}" v-cloak>{{ errMsgUrl}}</small>
          </div>

          <div class="form-group">
            <img class="icon" height="18" width="18" src="../images/edit_icon.png"/>
            <label for="">Choose Alias</label>
            <input type="text" name="alias" id="alias"  v-model="alias" :class="{'red': errMsgAlias}"  @focus="focused_alias = true, focused_url = false" :class="{ 'focused_alias': focused_alias }">
            <small v-if="errMsgAlias" :class="{'text-danger': errMsgAlias}" v-cloak>{{ errMsgAlias}}</small>
          </div>   

          <div class="form-group">
            <input type="hidden" v-model="token">
          </div>   

          <div class="form-group">
            <div class="button" @click.prevent="handler('url')">
               <span v-if="btnText" v-cloak>SHORT IT!</span>
               <span v-if="loader" v-cloak><img src="../images/loader.gif" width="40" height="40"></span>
            </div>
        </div>  

         <!--- end form---->
      </div>

        
      <div class="form" v-if="after" v-cloak>

        <div class="form-group">
          <img class="icon" height="18" width="18" src="../images/link_icon.png"/>
          <label for="">
            Your long URL
          </label>
           <div class="form-control">{{ url }}</div>
        </div>

        <div class="form-group">
          <img class="icon" height="18" width="18" src="../images/edit_icon.png"/>
          <label for="">Short URL</label>
          <input type="text" readonly="readonly" v-model="shortURL" ref="textToCopy">       
        </div>   

        <div class="form-group action-btns">
          <div class="btn" @click="copyURL"> 
              <span>Copy</span>
              <img src="../images/copy_white.png" alt="Copy url" width="20" height="20" class="copy-img">                  
          </div>
          <div class="btn" @click="redirectURL"> 
            <span>Go To</span>           
            <img src="../images/goto.png" alt="redirect to url" width="20" height="20" class="goto-img">       
          </div>
          <div class="btn" @click="shareWhatsapp">     
            <span>Share</span> 
            <img src="../images/whats.png" alt="Share url" width="22" height="22" class="share-img">              
          </div>
      </div>  

        <div class="form-group">
          <a class="button" href="./">
             <span>Short Another</span>   
             </a>          
          </div>
      </div>  

      </div>


      <!--- end center-wrapper---->
    </div>
    <!--- end container---->
  </div>

  <script src="../js/vue.js"></script>
  <script src="../js/axios.js"></script>  
  <script src="../js/validation.js"></script>
</body>
</html>